div.header{
    text-align: center;
    color: white;
    font-size: 120px;

}

div.subtext{
    text-align: center;
    color: white;
    font-size: 50px;
}

body{
    background-color: rgb(0,100,200);
}